
@model ID_Verification_App.Models.RegisterUser



@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width" />

    <title> Register </title>
</head>

<body>



    @using (Html.BeginForm())

    {@Html.AntiForgeryToken()

    <div class="form-horizontal">

        <h4><b> Register A New User </b></h4>
        <hr />

        @Html.ValidationSummary(true, "", new
        {
            @class = "text-danger"
        })


        <div class="form-group">

            @Html.LabelFor(model => model.Position, htmlAttributes: new
            {
                @class = "control-label col-md-2"
            })
            <div class="col-md-10">

                @Html.EditorFor(model => model.Position, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control"
                    }
                })


                @Html.ValidationMessageFor(model => model.Position, "", new
                {
                        @class = "text-danger"
                    })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.PersalNumber, htmlAttributes: new
            {
                @class = "control-label col-md-2"
            })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PersalNumber, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control"
                    }
                })
                @Html.ValidationMessageFor(model => model.PersalNumber, "", new
                {
                        @class = "text-danger"
                    })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new
            {
                @class = "control-label col-md-2"
            })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control"
                    }
                })
                @Html.ValidationMessageFor(model => model.Title, "", new
                {
                        @class = "text-danger"
                    })
            </div>
        </div>




        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new
            {
                @class = "control-label col-md-2"
            })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control"
                    }
                })
                @Html.ValidationMessageFor(model => model.FirstName, "", new
                {
                        @class = "text-danger"
                    })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.MiddleName, htmlAttributes: new
            {
                @class = "control-label col-md-2"
            })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MiddleName, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control"
                    }
                })
                @Html.ValidationMessageFor(model => model.MiddleName, "", new
                {
                        @class = "text-danger"
                    })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Surname, htmlAttributes: new
            {
                @class = "control-label col-md-2"
            })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Surname, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control"
                    }
                })
                @Html.ValidationMessageFor(model => model.Surname, "", new
                {
                        @class = "text-danger"
                    })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.IDNumber, htmlAttributes: new
            {
                @class = "control-label col-md-2"
            })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IDNumber, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control"
                    }
                })
                @Html.ValidationMessageFor(model => model.IDNumber, "", new
                {
                        @class = "text-danger"
                    })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Gender, htmlAttributes: new
            {
                @class = "control-label col-md-2"
            })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gender, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control"
                    }
                })
                @Html.ValidationMessageFor(model => model.Gender, "", new
                {
                        @class = "text-danger"
                    })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Rank, htmlAttributes: new
            {
                @class = "control-label col-md-2"
            })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rank, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control"
                    }
                })
                @Html.ValidationMessageFor(model => model.Rank, "", new
                {
                        @class = "text-danger"
                    })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Province, htmlAttributes: new
            {
                @class = "control-label col-md-2"
            })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Province, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control"
                    }
                })
                @Html.ValidationMessageFor(model => model.Province, "", new
                {
                        @class = "text-danger"
                    })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Location, htmlAttributes: new
            {
                @class = "control-label col-md-2"
            })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Location, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control"
                    }
                })
                @Html.ValidationMessageFor(model => model.Location, "", new
                {
                        @class = "text-danger"
                    })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Station, htmlAttributes: new
            {
                @class = "control-label col-md-2"
            })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Station, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control"
                    }
                })
                @Html.ValidationMessageFor(model => model.Station, "", new
                {
                        @class = "text-danger"
                    })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new
            {
                @class = "control-label col-md-2"
            })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control"
                    }
                })
                @Html.ValidationMessageFor(model => model.Email, "", new
                {
                        @class = "text-danger"
                    })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new
            {
                @class = "control-label col-md-2"
            })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control"
                    }
                })
                @Html.ValidationMessageFor(model => model.Password, "", new
                {
                        @class = "text-danger"
                    })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Confirm_Password, htmlAttributes: new
            {
                @class = "control-label col-md-2"
            })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Confirm_Password, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control"
                    }
                })
                @Html.ValidationMessageFor(model => model.Confirm_Password, "", new
                {
                        @class = "text-danger"
                    })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Picture, htmlAttributes: new
            {
                @class = "control-label col-md-2"
            })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Picture, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control"
                    }
                })
                @Html.ValidationMessageFor(model => model.Picture, "", new
                {
                        @class = "text-danger"
                    })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

</body>
</html>

